.create-post {
  background-color: $gray;
}

.create-post__header {
  background-color: #fff;
  padding: 41px 20px;
  text-align: center;
}

.create-post__header-text {
  @include opensans(400,14px,30px);
  margin: 0;
}

.create-post__photo-wrap {
  padding: 20px;
}

.create-post__photo {
  max-width: none;
  width: 100%
}

.create-post__filters {
  border-bottom: 1px solid $darkgray;
}

.create-post__filters-list {
  @include no-list-mark;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  padding: 0 30px;
}

.create-post__filter {
  border: none;
  cursor: pointer;

  &--crop {
    background-image: url("../img/icon-editor-crop.svg");
    height: 48px;
    width: 48px;
  }

  &--fill {
    background-image: url("../img/icon-editor-fill.svg");
    height: 48px;
    width: 48px;
  }

  &--contrast {
    background-image: url("../img/icon-editor-contrast.svg");
    height: 32px;
    width: 32px;
  }
}

.create-post__filter-intensity {
  display: none;

  &--common{
    display: block;
  }
}

.create-post__form-actions {
  padding: 40px 20px 30px 20px;
}

.create-post__form-action-button {
  @include opensans(700,18px,18px);
  border: 3px solid $pink;
  border-radius: 50px;
  color: $pink;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  padding: 16px 25px;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $pink;
    color: #fff;
  }

  &:active {
    color: rgba(255,255,255,.3);
  }

  &--reset {
    border-color: $darkgray;
    color: $darkgray;

    &:hover {
    background-color: transparent;
    border-color: #b5b9be;
    color: #c4c6c8;
    }

    &:active {
    background-color: #b5b9be;
    color: rgba(255,255,255,.3);
    }
  }
}


@media (min-width: 700px) {
  .create-post__header {
    padding: 67px 40px;
  }

  .create-post__header-text {
    font-size: 18px;
  }

  .create-post__main {
    display: flex;
    justify-content: space-between;
    padding: 55px 40px;
  }

  .create-post__photo-wrap {
    padding: 0;
  }

  .create-post__form {
    width: 275px;
  }

  .create-post__filters {
    border: none;
  }

  .create-post__filters-list {
    @include no-indents;
    display: block;
  }

  .create-post__filter-wrap {
    align-items: center;
    border-bottom: 1px solid $darkgray;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding-right: 20px;
  }

  .create-post__filter {
    cursor: default;
    transform: scale(.5);
  }


  .create-post__filter-intensity {
    display: block;

    &--common{
      display: none;
    }
  }
}
