.create-post {
  background-color: $gray;
}

.create-post__header {
  background-color: #fff;
  padding: 40px 20px 42px 16px;
  text-align: center;
}

.create-post__header-text {
  @include opensans(400,14px,30px);
  margin: 0;
}

.create-post__photo-wrap {
  padding: 20px 19px;
}

.create-post__photo {
  max-width: none;
  width: auto;
}

.create-post__filters {
  border-bottom: 1px solid $darkgray;
  padding-bottom: 22px;
}

.create-post__filters-list {
  @include no-list-mark;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  margin-top: 17px;
  padding-left: 55px;
  padding-right: 65px;
}

.create-post__filter {
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 48px;
  width: 48px;

  &--crop {
    background-image: url("../img/icon-editor-crop.svg");
  }

  &--fill {
    background-image: url("../img/icon-editor-fill.svg");
  }

  &--contrast {
    background-image: url("../img/icon-editor-contrast.svg");
    height: 32px;
    width: 32px;
  }
}

.create-post__filter-intensity {
  display: none;

  &--common{
    display: block;
  }
}

.create-post__form-actions {
  padding: 37px 20px 30px 20px;
}

.create-post__form-action-button {
  @include opensans(700,18px,18px);
  border: 3px solid $pink;
  border-radius: 50px;
  color: $pink;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  padding: 16px 25px;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $pink;
    color: #fff;
  }

  &:active {
    color: rgba(255,255,255,.3);
  }

  &--reset {
    border-color: $darkgray;
    color: $darkgray;

    &:hover {
    background-color: transparent;
    border-color: #b5b9be;
    color: #c4c6c8;
    }

    &:active {
    background-color: #b5b9be;
    color: rgba(255,255,255,.3);
    }
  }
}


@media (min-width: 700px) {
  .create-post-wrap {
    @include no-indents;
  }

  .create-post__header {
    padding: 75px 40px 70px 40px;
  }

  .create-post__header-text {
    font-size: 18px;
  }

  .create-post__main {
    display: flex;
    justify-content: space-between;
    padding: 55px 40px 32px 40px;
  }

  .create-post__photo-wrap {
    padding: 0;
    width: 300px;
  }

  .create-post__photo {
    width: 100%;
  }

  .create-post__form {
    width: 275px;
  }

  .create-post__filters {
    border: none;
    padding-bottom: 14px;
  }

  .create-post__filters-list {
    @include no-indents;
    display: block;
    position: relative;

    &::after {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      width: 50px;
    }
  }

  .create-post__filter-wrap {
    align-items: center;
    border-bottom: 1px solid $darkgray;
    display: flex;
    height: 42px;
    justify-content: space-between;
    margin-bottom: 29px;
    padding-right: 17px;
  }

  .create-post__filter {
    transform: scale(.5);

    &--contrast {
      height: 48px;
      width: 48px;
    }
  }


  .create-post__filter-intensity {
    display: block;

    &--common{
      display: none;
    }
  }

  .create-post__form-actions {
    padding: 37px 14px 0 0;
  }

  .create-post__form-action-button {
    margin-bottom: 22px;
  }
}

@media (min-width: 1200px) {
  .create-post-wrap {
    @include deksktop-centerer-narrow;
  }

  .create-post {
    background-color: #fff;
    padding: 0 130px;
    margin-bottom: 38px;
  }

  .create-post__header {
    padding: 36px 0 65px 0;
  }

  .create-post__main {
    background-color: #f2f2f2;
    padding: 54px 60px 35px 80px;
  }

  .create-post__photo-wrap {
    margin-top: 3px;
  }

  .create-post__form {
    width: 412px;
  }

  .create-post__filter-wrap {
    align-items: flex-start;
    height: 60px;
    margin-bottom: 10px;
    padding-right: 9px;
  }

  .create-post__filter {
    transform: none;

    &--fill {
      margin-left: 2px;
      margin-top: 4px;
    }
  }

  .create-post__form-actions {
    display: flex;
    justify-content: space-between;
    padding: 121px 0 0 2px;
  }

  .create-post__form-action-button {
    width: 183px;
  }
}
