.main-content {
  background: #2a3a4a url("../img/bg-back-mobile@1x.jpg") 50% 0 no-repeat;
  margin-top: -68px;
}

.main-content__intro {
  min-height: 237px;
  text-align: center;

  &--index {
    display: flex;
    flex-direction: column-reverse;
    height: 735px;
    position: relative;

    .main-content__intro-heading {
      display: none;
    }

    &::after {
      background-image: url("../img/iphone-hand-mobile@1x.png");
      bottom: 271px;
      content: "";
      height: 286px;
      left: 0;
      position: absolute;
      width: 258px;
    }
  }
}

.main-content__intro-heading {
  @include opensans(300,24px,30px);
  color: #fff;
  margin: 0;
  padding: 96px 20px 0 20px;
}

@media (min-width: 700px) {
  .main-content {
    margin-top: -110px;
  }

  .main-content__intro-wrap{
    @include no-indents;
  }

  .main-content__intro{
    min-height: 440px;
    padding: 0 40px;

    &--index {
    flex-direction: column;
    height: 728px;
    justify-content: flex-start;

      &::after {
        left: auto;
        right: 40px;
      }

      .main-content__intro-heading {
        box-sizing: border-box;
        display: block;
        font-size: 40px;
        line-height: 48px;
        padding: 200px 35px 0px 33px;
        width: 300px;
      }
    }
  }
  .main-content__intro-heading {
    font-size: 50px;
    line-height: 61px;
    padding-bottom: 79px;
    padding-top: 177px;
  }
}

@media (min-width: 1200px) {
  .main-content__intro-wrap {
    @include deksktop-centerer;
  }

  .main-content__intro{
    min-height: 394px;
    padding: 0 130px;

    &--index {
      height: 853px;
    }
  }

  .main-content__intro-heading {
    padding-top: 171px;
  }

  .main-content__intro--index .main-content__intro-heading{
    font-size: 50px;
    line-height: 61px;
    padding-left: 32px;
    padding-top: 216px;
  }
}
