.main-content {
  margin-top: -65px;
}

.main-content__intro {
  background: #2a3a4a url("../img/bg-back-mobile@1x.jpg") 50% 0 no-repeat;
  min-height: 237px;
  text-align: center;

  &--index {
    display: flex;
    flex-direction: column-reverse;
    height: 753px;
    position: relative;

    .main-content__intro-heading {
      display: none;
    }

    &::after {
      background-image: url("../img/iphone-hand-mobile@1x.png");
      bottom: 291px;
      content: "";
      height: 286px;
      left: 0;
      position: absolute;
      width: 258px;
    }
  }
}

.main-content__intro-heading {
  @include opensans(300,24px,30px);
  color: #fff;
  margin: 0;
  padding: 100px 20px 0 20px;
}

@media (min-width: 700px) {
  .main-content {
  margin-top: -110px;
  }

  .main-content__intro--index {
    flex-direction: column;
    justify-content: flex-start;

    &::after {
      left: auto;
      right: 40px;
    }

    .main-content__intro-heading {
      box-sizing: border-box;
      display: block;
      font-size: 40px;
      line-height: 50px;
      margin-left: 40px;
      padding: 205px 30px 0px 30px;
      width: 300px;
    }
  }
  .main-content__intro-heading {
    font-size: 50px;
    line-height: 62px;
    padding: 190px 0 150px 40px;
  }
}
