.page-header {
  position: relative;
  z-index: 2;
}

.page-header__menu-wrap {
  @include no-indents;
  background-color: transparent;
  max-width: auto;
}

.page-header__menu-top-row {
  align-items: center;
  background-color: rgba(0,0,0,.3);
  display: flex;
  height: 65px;
  justify-content: space-between;
  padding: 0 20px;
}

.page-header__menu-logo {
  min-width: 75px;
}

.page-header__menu--opened {
  display: block;

  .page-header__menu-top-row {
    background-color: $darkblue;
    box-shadow: 0px 1px 0px 0px #000;
    height: 70px;
  }

  .page-header__menu-list {
    display: block;
  }
}

.page-header__menu-button {
  background-image: url("../img/icon-menu-burger.svg");
  border: none;
  height: 24px;
  width: 50px;

  &--close-menu {
    background-image: url("../img/icon-menu-cross.svg");
    width: 24px;
  }
}

.page-header__menu-list {
  @include no-indents;
  @include no-list-mark;
  display: none;
}

.page-header__menu-item {
  @include opensans(700,18px,33px);
  background-color: $darkblue;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15) inset,
              0px 1px 0px 0px #000;
  color: #fff;
  margin-top: 1px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

.page-header__menu-item-link {
  color: #fff;
  display: block;
  text-decoration: none;
  margin: -15px 0;
  padding: 15px 20px;

  &:hover {
    color: $pink;
  }

  &:active {
    color: opacify($pink, 0.3);
  }
}

@media (min-width: 700px) {
  .page-header__menu-wrap {
    @include no-indents;
    background-color: transparent;
    max-width: auto;
  }

  .page-header__menu-top-row,
  .page-header__menu--opened .page-header__menu-top-row {
    height: 110px;
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .page-header {
    background-color: rgba(0,0,0,.3);
  }

  .page-header__menu-wrap {
    @include deksktop-centerer;
  }

  .page-header__menu {
    align-items: center;
    display: flex;
    padding: 0 130px;

  }

  .page-header__menu-top-row,
  .page-header__menu--opened .page-header__menu-top-row {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .page-header__menu-button{
    display: none;
  }

  .page-header__menu-list,
  .page-header__menu--opened .page-header__menu-list{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 243px;
  }

  .page-header__menu-item {
    background-color: transparent;
    box-shadow: none;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }

  .page-header__menu-item-link {
    @include no-indents;
  }
}
