.page {
  color: $darkblue;
  min-width: 320px;
  overflow-x: hidden;
/*Временно*/
  margin: 0 auto;
  max-width: 1200px;

}

button {
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}
