.page-footer {
  padding: 40px 20px;
  text-align: center;

  &--index {
    padding: 0 20px;
  }
}

.page-footer__heading {
  @include opensans(300,24px,30px);
  margin-bottom: 35px;
  margin-top: 40px;
}

.page-footer__contacts-list {
  @include no-list-mark;
  @include no-indents;
}

.page-footer__contact {
  @include opensans(300,24px,30px)
  color: $pink;
  margin-bottom: 25px;
}

.page-footer__contact-heading {
  @include opensans(700,18px,22px)
  color: $darkblue;
}

.page-footer__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 200px;
  margin: 0 -20px;
}

.page-footer__contact-link {
  color: $pink;
  text-decoration: none;
}

.page-footer__socials-list {
  @include no-list-mark;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 38px 45px;
}

.page-footer__social {
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  display: block;
  height: 44px;
  width: 44px;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
.page-footer__social-placeholder {
  visibility: hidden;
}

.page-footer__developed {
  @include opensans(400,14px,18px);
  color: $darkblue;
  display: inline-block;
  line-height: 34px;
  padding-right: 42px;
  position: relative;
  text-decoration: none;
}

.page-footer__bottom {
  display: none;
}

@media (min-width: 700px) {
  .page-footer-wrap,
  .page-footer__bottom-wrap {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  .page-footer-wrap,
  .page-footer__contacts-list-wrap {
    @include no-indents;
  }

  .page-footer--index {
    display: block;
    padding: 40px 0 0 0;
  }

  .page-footer__heading {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 45px;
    margin-top: 6px;
  }

  .page-footer__contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-footer__contact {
    margin-bottom: 46px;
    width: 320px;

    &--address {
      box-sizing: border-box;
      margin-bottom: 24px;
      padding: 0 20px;
    }
  }

  .page-footer__contact-heading {
    margin-bottom: 6px;
  }

  .page-footer__map {
    height: 377px;
    margin: 0 -40px
  }

  .page-footer__bottom {
    display: block;
  }

  .page-footer__socials {
    padding-right: 14px;
    width: 280px;
  }

  .page-footer__logo {
    margin-top: 36px;
  }

  .page-footer__developed {
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  .page-footer{
    padding: 24px 130px 35px 130px;

    &--index{
      padding:0;
    }
  }

  .page-footer-wrap {
    @include deksktop-centerer-narrow;
  }

  .page-footer__heading {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 57px;
    margin-top: 64px;
  }

  .page-footer__contacts-list-wrap,
  .page-footer__bottom-wrap {
    @include deksktop-centerer-narrow;
    padding: 0 130px;
  }

  .page-footer__contacts-list {
    justify-content: space-between;
  }

  .page-footer__contact {
    width: 300px;

    &--phone {
      order: 1;
    }

    &--address {
      order: 2;
    }

    &--email {
      order: 3;
    }
  }

  .page-footer__contact-heading {
    margin-bottom: 25px;
  }

  .page-footer__map {
    height: 497px;
    margin: 0 -130px
  }

  .page-footer__bottom {
    padding: 34px 0 36px 0;

    .page-footer__socials {
      padding-left: 6px;
    }

    .page-footer__socials-list {
      padding-top: 39px;
    }
  }

  .page-footer__socials {
    padding-left: 16px;
    padding-right: 0;
  }

  .page-footer__socials-list {
    padding-top: 40px;
  }

  .page-footer__developed {
    font-size: 18px;
    padding-right: 40px;
  }
}
