.price {
  align-items: center;
  background-color: $gray;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

.price__item-list {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: auto;
}

.price__header:first-of-type,
.price__feature:first-of-type {
  display: none;
}

.price__header {
  background-color: $darkblue;
  background-clip: padding-box;
  border: 2px solid #e5e5e5;
  border-top: none;
  color: #fff;
  min-width: 274px;
  text-align: center;
  padding-bottom: 21px;
  padding-top: 17px;
}

.price__header:empty {
  background-color: transparent;
  border: none;
}

.price__name {
  @include opensans(700,18px,30px);
  text-transform: uppercase;
}

.price__cost {
  @include opensans(300,24px,30px)
}

.price__feature-list {
  @include no-list-mark;
  @include no-indents;
}

.price__feature {
  @include opensans(400,14px,30px);
  background-clip: padding-box;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  padding: 14px 55px 14px 22px;
  position: relative;
  text-transform: uppercase;

  &::after {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    right: 20px;
    top: 46%;
    transform: translateY(-50%);
  }

  &--yes {
    &::after {
      background-image: url("../img/icon-yes.svg");
      height: 20px;
      width: 27px;
    }
  }

  &--no {
    &::after {
      background-image: url("../img/icon-no.svg");
      height: 27px;
      width: 27px;
    }
  }
}

.price__item-selector {
  padding-bottom: 52px;
}

@media (min-width: 700px) {
  .price {
    display: block;
    padding: 91px 40px 38px 40px;
  }

  .price-wrap {
    @include no-indents;
  }

  .price__header {

    &:nth-child(2) {
      border-left-color: $darkblue;
    }

    &:last-of-type {
      border-right-color: $darkblue;
    }
  }

  .price__item-list {
    width: 100%;
  }

  .price__header:first-of-type,
  .price__feature:first-of-type {
    display: table-cell;
  }

  .price__feature--no,
  .price__feature--yes {
    font-size: 0;
  }

  .price__header {
    min-width: 25%;
    padding-bottom: 10px;
    padding-top: 11px;
  }

  .price__name {
    font-size: 16px;
    line-height: 28px;
  }

  .price__cost {
    font-size: 18px;
  }

  .price__feature {
    text-transform: none;
    padding: 7px 0 7px 15px;

    &::after {
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .price__item-selector {
    display: none;
  }
}

@media (min-width: 1200px) {
  .price {
    padding: 149px 130px 66px 130px;
  }

  .price-wrap {
    @include deksktop-centerer-narrow;
  }

  .price__header {
    padding-bottom: 21px;
    padding-top: 17px;
  }

  .price__name {
    font-size: 18px;
    line-height: 30px;
  }

  .price__cost {
    font-size: 24px;
  }

  .price__feature {
    padding: 12px 0 16px 21px;

    &:first-of-type{
      font-size: 18px;
    }
  }
}
