.reviews {
  background-color: #fff;
  padding-top: 42px;
}

.reviews__list {
  padding-bottom: 8px;
}

.reviews__item-wrap {
  display: none;

  &--visible {
    display: block;
  }
}

.reviews__item {
  padding: 0 20px;
  text-align: center;
}

.reviews__author {
  @include opensans(700,18px,30px);
}

.reviews__author-age-career {
  @include opensans(400,14px,30px);
  display: none;
}

.reviews__content {
  @include opensans(400,14px,30px);
}

.reviews__item-selector {
  padding-bottom: 47px;
}

.reviews__change {
  display: none;
}

@media (min-width: 700px) {
  .reviews {
    padding-top: 8px;
  }

  .reviews-wrap {
    @include no-indents;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__author {
    font-size: 20px;
  }

  .reviews__author-age-career {
    display: block;
  }

  .reviews__content {
    font-size: 18px;
    margin-bottom: 34px;
  }

  .reviews__item-selector {
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .reviews {
    padding: 168px 130px 32px 130px;
  }

  .reviews-wrap {
    display: flex;
    @include deksktop-centerer-narrow;
  }

  .reviews__item-wrap {
    padding: 0 90px;
  }

  .reviews__content-quotes {
    display: none;
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__author-age-career {
    font-size: 18px;
    margin-top: 3px;
  }

  .reviews__item-selector {
    display: none;
  }

  .reviews__change {
    display: block;
  }
}
